In [ ]:
import pandas as pd
import numpy as np
import os
import bambi as bmb
from under_over import UnderOver

In [2]:
leagues = []
for file in os.listdir("Data"):
    if file.endswith(".xlsx") or file.endswith(".csv"):
        leagues.append(file.split(".")[0])
print(f"Available data: {', '.join(leagues)}")

Available data: ARG, AUT, B1, BRA, CHN, D1, D2, DNK, E0, E1, E2, E3, EC, F1, F2, FIN, G1, I1, I2, IRL, JPN, MEX, N1, NOR, P1, POL, ROU, RUS, SC0, SC1, SC2, SC3, SP1, SP2, SWE, SWZ, T1, USA

In [3]:
league = "ARG"
try:
    df = pd.read_excel(f"Data/{league}.xlsx")
except:
    df = pd.read_csv(f"Data/{league}.csv")

try:
    df = df[["HomeTeam", "AwayTeam", "FTHG", "FTAG"]]
except KeyError: # some of the leagues have mismatched names
    df.rename(columns={"HG": "FTHG", "AG": "FTAG"}, inplace=True)
    df.rename(columns={"Home": "HomeTeam", "Away": "AwayTeam"}, inplace=True)

    df = df[["HomeTeam", "AwayTeam", "FTHG", "FTAG"]]

df.head()

          HomeTeam           AwayTeam  FTHG  FTAG
0  Arsenal Sarandi  Union de Santa Fe     1     0
1  Velez Sarsfield     Argentinos Jrs     3     0
2      Racing Club       Atl. Rafaela     1     1
3   Colon Santa FE              Lanus     1     0
4          Quilmes       Boca Juniors     3     0